<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookMyTicket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="nav-brand">
          <%= link_to "BookMyTicket", root_path, class: "brand-link" %>
        </div>
        <div class="nav-links">
          <% unless devise_controller? %>
            <% if @available_cities.present? %>
              <%= form_with url: set_city_path, method: :post, local: true, class: "city-selector-form" do %>
                <%= select_tag :city,
                    options_for_select(@available_cities, current_city),
                    onchange: "this.form.submit()",
                    class: "city-selector" %>
              <% end %>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <% unless devise_controller? %>
              <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
            <% end %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "nav-link #{'nav-link-active' if params[:controller] == 'devise/sessions'}" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link nav-cta #{'nav-cta-active' if params[:controller] == 'devise/registrations' && params[:action] == 'new'}" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
